@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";

.Skills {
    @include lg {
        height: 100%;
    }

    .Row {
        @include lg {
            height: 100%;
        }

        .CanvasWrp {
            position: relative;
            top: 0px;
            background-color: #f1f1f1;
            height: 300px;
            top: -20px;
    
            @include lg {
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }

            canvas {
                margin: 0 -15px -10px;
            }
        }
    }
}