@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";


.Layout {

    @include md {
        height: 100%;
    }

    .NavItem {

        .NavLink {
            color: darken($lite-grey, 50%) !important;
            
            /* &.active {
                color: $secondary !important;
            } */
        }

        .NavLinkTxt {
            font-size: 10px;
            font-weight: 300;
            display: inline-block;
            text-indent: -999999px;
            text-transform: uppercase;
        }   

        &:hover {
            .NavLink {
                i {
                    visibility: hidden;
                    position: absolute;
                }
                .NavLinkTxt {
                    text-indent: none;
                    display: inline;
                    color: $secondary !important;
                }
            }
        }
    }

    .SidebarWrp {
        position: relative;
        z-index: 3;

        @include md {
            width: $sidebar-width;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
    }

    .Page {
        position: relative;
        text-align: left;
        padding: 20px 0;
        
        @include md {
            margin-left: $sidebar-width;
            height: 100%;
        }
    }
    
    /* .Canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .ContentWrp {
        position: relative;
        z-index: 2
    } */
}

:global .navbar-dark .navbar-nav .nav-link.active {
    color: $secondary !important;
}

